@font-face {
    font-family: Karantina;
    src: url(fonts/Karantina-Regular.ttf);
}
* {
    font-family: Karantina;
}
body {
    height: 100%;
    width: 100%;
    background-color: rgb(207, 204, 204);
    direction: rtl;
    overflow: hidden;
    user-select: none;
}

#logoPakar {
    position: absolute;
    top: 2%;
    left: 2%;
    height: 12vh;
    width: 6vw;
}

#openSquare {
    border-style: solid;
    border-color: rgb(135 179 201);
    border-width: 1vh;
    background-color: rgb(135 179 201);
    border-radius: 1.1vh;
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 18%;
    left: 20%;
}

#lomdaTitle {
    font-size: 20vh;
    position: relative;
    top: 10%;
    left: 13%;
    text-shadow: 0.2vh 0.2vh orange;
}

.button {
    background-color: orange;
    position: absolute;
    font-weight: bold;
}

#startButton {
    bottom: 8%;
    left: 42%;
    font-size: 3.3vh;
    height: 8vh;
    width: 20vh;
}
#targets {
    display: none;
}

#targetsTitle {
    font-size: 12vh;
    position: absolute;
    top: 9%;
    left: 41%;
}

.targetSquare {
    text-align: center;
    font-size:5vh;
    border-style: solid;
    border-color: rgb(135 179 201);
    border-width: 1vh;
    background-color: rgb(135 179 201);
    border-radius: 1.1vh;
    width: 35vw;
    height: 10vh;
    position: absolute;
    left: 33%;
}

#first {
    top: 30%;
}
#second {
    top: 45%;
}
#third {
    top: 60%;
    height: 15vh;
    padding-bottom: 14vh ;
}

#targetPhoto {
    height: 10vh;
    width: 6vw;
    position: absolute;
    top: 13%;
    right: 32%;
}

#nextButton {
    border-radius: 3vh;
    bottom: 8%;
    left: 48%;
    height: 8vh;
    width: 10vh;
    font-size: 3.5vh;
}

.progressBar {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(135 179 201);
    border-width: 1vh;
    background-color: rgb(135 179 201);
    border-radius: 1.1vh;
    height: 6vh;
    width: 8vw;
    margin-top: 2vh;
    margin-right: 1vh;
    text-align: center;
    font-size: 3vh;
    cursor: pointer;
    display: none;
}

#firstStep {
    margin-top: 20vh;
}

.title {
    font-size: 13vh;
    text-shadow: 0.2vh 0.2vh orange;
    position: absolute;
    top: 2%;    
}
 
#WhatIsResearchTitle {
    left: 34%;
    display: none;
}

#WhatIsResearchText1 {
    position: absolute;
    top: 22%;
    left: 19%;
    font-size: 5vh;
    text-align: center;
    display: none;
}

#WhatIsResearchText2 {
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 5vh;
    text-align: center;
    display: none;
}

#WhatIsResearchNextButton {
    border-radius: 3vh;
    bottom: 8%;
    left: 48%;
    font-size: 3.5vh;
    height: 8vh;
    width: 10vh;
    display: none;
}

#veryityResearchTitle {
    left: 39%;
    display: none;
}

.list {
    font-size: 4vh;
    direction: rtl;
    text-align: right;
    position: absolute;
    top: 28%;
    right: 25%;
    display: none;
}

p {
    font-size: 5.5vh;
    text-align: right;
    position: absolute;
    top: 20%;
    right: 25%;
    display: none;
}

#modelTitle {
    text-align: center;
    font-size: 8vh;
    position: absolute;
    top: 46%;
    right: 45%;
    text-decoration: orange underline; 
    display: none;
}

#icebergModel {
    height: 22vh;
    width: 12vw;
    position: absolute;
    top: 58%;
    right: 44.2%;
    display: none;
}
#nextButtonVeryityResearch {
    border-radius: 3vh;
    bottom: 8%;
    left: 47%;
    height: 8vh;
    width: 10vh;
    font-size: 3.5vh;
    display: none;
}

.flip-card {
    background-color: transparent;
    width: 20vw;
    height: 40vh;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 12vh;
  }
  
  .flip-card-front {
    background-color: rgb(135 179 201);
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(251 152 76);
    text-shadow: 0.1vh 0.1vh rgb(135 179 201);
    color: black;
    transform: rotateY(180deg);
  }

  #flipCard1 {
      position: absolute;
      top: 30%;
      right: 20%;
      display: none;
  }
  
 .flipCardText {
     position: relative;
     top: 0vh;
     right: 1vh;
    font-size: 2.8vh;
    text-align: center;
    margin-left: 2vh;
  }
 .flipCardTitle{
    font-size: 6vh;
    text-align: center;
  }

  #flipCard2 {
    position: absolute;
    top: 30%;
    left: 20%;
    display: none;
}
#diffrenceBetweenTitle {
    left: 31%;
    display: none;
}

#diffrenceBetweenButton {
    border-radius: 3vh;
    bottom: 8%;
    left: 47%;
    height: 8vh;
    width: 10vh;
    font-size: 3.5vh;
    display: none;
}

#institutionsTitle {
    left: 33%;
    display: none;
}
.inva {
    position: absolute;
    top: 26%;
    height: 8vh;
    width: 14vw;
    border-radius: 2vh;
    color: black;
    font-size: 5vh;
    padding-top: 0.3vh;
    padding-left: 5vh;
    cursor: pointer;
    display: none;
}

#judyInvestigation {
    right: 30%;
    background-color: rgb(135 179 201);
    
}

#pikudInvestigation {
    left: 30%;
    background-color:orange;
}

#sideTable {
    opacity: 0 ;
    display: flex ;
    flex-direction: column;
    justify-content:space-around ;
    position: absolute;
    top: 38%;
    right: 18%;
    height: 30vh;
    width: 7vw;
    font-size: 3vh;
}

#rightTableFlex {
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    position: absolute;
    top: 38%;
    right: 32%;
    height: 30vh;
    width: 7vw;
    font-size: 3vh;
    opacity: 0;
}
.rightTable {
    background-color:rgb(135 179 201);
    border-radius: 1vh;
    text-align: right;
    width: 10vw;
    padding-right: 2vh;
}
#leftTableFlex {
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    position: absolute;
    top: 38%;
    left:35%;
    height: 30vh;
    width: 7vw;
    font-size: 3vh;
    opacity: 0;
}

.leftTable {
    background-color:orange;
    border-radius: 1vh;
    text-align: right;
    width: 10vw;
    padding-right: 2vh;
}

#institutionsButton {
    border-radius: 3vh;
    bottom: 8%;
    left: 47%;
    height: 8vh;
    width: 10vh;
    font-size: 3.5vh;
    display: none;
}
